body {
  font-family: Arial, Helvetica, sans-serif;
  font: size 15px;
  line-height: 1.5;
  /* ALT WAY TO ADD PROPERTIES TO 'FONT' VALUE */
  /* = font : 15px/1.5 Arial,hel...sanserif: */
padding: 0;
margin: 0;
background-color:#D3D3D3;
}
/* global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    

}

 ul{
    margin: 0;
    padding: 0;
}

 .btn_1{
    height: 35px;
    background:  #27506a;
    border:10px;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px 10px;
 }

  .btn_1:hover {
    transition:.5s;
    background-color: #cccccc;
    cursor: pointer; 
  }
 .services p span{
    text-decoration: line-through;
    font-size: small;
    font-weight: bold;
 }


 
/* HEADER */
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #aa336a 3px solid;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li{
    float: left;
    display:inline;
    padding: 0 20px 0 20px;

}
header #branding{
    float: left;

}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}

header .highlight,header .current a{
    color: #aa336a;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

/* SHOWCASE */

#showcase{
    min-height: 400px;
    text-align: center;
    background:url(' ../images/grid.jpg') no-repeat 0 -400px;
    color: #ffffff;
}

#showcase h1{
    margin-top:100px ;
    font-size: 50px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}

/* Newsletter */
#newsletter{
  padding:15px ;
  color:#ffff ;
background: #aa336a;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type='email']{
    padding: 4px;
    height: 25px;
    width: 225px;
}

/* Boxes */

#boxes {
    margin-top: 20px;
}

#boxes img{
     width:90px;
}
#boxes .box{
    float: left;
    text-align:center;
    width: 30%;
    padding: 5px;
    margin-top: 50px;
}

#boxes  .h3{
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
}

#boxes .p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:10px ;
    text-align: center;
}


/* sidebar */
aside#sidebar{
    float: right;
    width: 40%;
    margin-top: 0px;
    /* background:#aa336a; */
    margin-bottom: 10px;
    padding: 15px;
    color: white;

}

aside.sidebar .quote input,  aside.sidebar .quote textarea{
    width: 80%;
    padding: 5px;
}
 /* dark */
.dark{q n
    padding: 15px;
    color: #ffff;
    background: #35424a;
    margin-top: 10px;
    margin-bottom: 10px;

 }
 .white{
    background:whitesmoke ;
    margin-top: 10px;
    margin-bottom: 10px;
padding: 15px;
 }
/* m-main */
article#m-main{
float: left;
width: 55%;
}

/* services */
.services p span{
    text-decoration: line-through;
    font-size: small;
    font-weight: bold;
    color: black;
}
ul.services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

/* quote

.quote {
    padding: 15px;
    color: #ffff;
    background:#5c7383;
    margin-top: 10px;
    margin-bottom: 10px;
} */



/* Footer */
footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #aa336a;
    text-align: center;
}


/* MediaQuery */
@media(max-width:768px)  {
     
        header #branding,
        header nav,
        header nav li
        #newsletter h1
           {
            float :none;
            text-align:center;
            width: 100%;
        }
    #newsletter form{
        float: none;
        text-align: center;
        width: 100%;
    }
    #boxes .box{
        float :none;
        text-align:center;
        width: 100%;
    }
    article #m-main
{
        float :none;
        text-align:center;
        width: 100%;
    }
    aside.sidebar{
        float :none;
        text-align:center;
        width: 100%;
    }
        header{
            padding-bottom: 20px;
        }

        #showcase h1{
            margin-top: 40px;
        }
    
        #newsletter button {
            display: block;
            width: 100%;
        }
    #newsletter form input[type= 'email']{
    width:95% ;

    }
}